.App {
  text-align: center;
  background:#55c1db;
  padding: 10vh 20vw; 
  height:100vh;
  width:auto;
  color:white;
  background-size: cover
}

.App h1 {
  font-size: 36px;
  text-shadow: 1px 1px white;
  letter-spacing: 3px;
  font-weight:bold;
}

.App .flex {
  background:#555;
  display:flex;
  flex-direction:row;
  justify-content:center;
  min-height:400px;
  align-items:center;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(0,0,0,.5) 0%, rgba(85,85,85,0.95));
  position: relative;
  overflow:hidden;
  box-shadow: 1px 1px 1px #333;
}

@media (max-width: 600px) {
  .App {
    padding-left:10vw;
    padding-right:10vw;
  }
  .App .flex {
    flex-direction:column;
  }

}

.App .flex p {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App .flex h2 {
  font-weight: 500;
  font-size: 30px;
}

.App .flex ul {
  text-align:left;
  line-height:1.8;
  font-size:18px;
}

.App .flex li {
    list-style-type: none;
}

.App .flex li i {
  margin-right: 10px;
}

/*.App .flex .left {
  width:25%;
  filter: contrast(1.5)
}

@media (max-width: 600px) {
  .App .flex .left {
    width:60%;
  }
}

.App .flex .right {
  width:75%;
  padding-right:30px;
} */

.App-link {
  color: #61dafb;
}

@keyframes showbinary {
  0% {
    opacity:0;
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    opacity:1;
    transform: scale(1);
  }
}

